@mixin keyStyle {
  height: 40px;
  color: #fff;
  border: none;
  border: 1px solid rgb(56, 54, 54);
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 2px rgb(83, 93, 101);
  transition: all 0.2s;

  &:hover {
    background-color: rgb(108, 107, 107);
  }
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("../img/background.jpg");
}
.app {
  width: 90vw;
  max-width: 900px;
  height: 80%;
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(162, 162, 184);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.screen {
  width: 100%;
  height: 50%;
  background-color: rgb(255, 251, 251);
  textarea {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 251, 251);
    border: none;
    box-sizing: border-box;
  }
}
.keyboard {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  justify-content: center;
  padding: 10px;
  background-color: rgb(141, 128, 128);
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.lineKeys {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.key,
.space {
  @include keyStyle();
  width: 40px;
  background-color: rgb(79, 79, 79);
}

.backspace,
.caps,
.enter,
.shift,
.tab,
.del,
.ctrl,
.arrows,
.win,
.alt {
  @include keyStyle();
  width: 90px;
  background-color: rgb(47, 46, 46);
}

.tab,
.del,
.ctrl,
.arrows,
.win,
.alt {
  width: 43px;
}

.space {
  width: 300px;
}

.active {
  transform: scaleY(0.95);
  box-shadow: none;
  background-color: rgb(43, 42, 42);
}
